.container-damages-edit {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.title-damages-edit {
  h3 {
    text-align: center;
  }
}

.title-damage-edit {
  label {
    font-size: 20px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }
}

.button-damage {
  .btn {
    padding: 3px 7px !important;
    font-size: 15px !important;
    border-radius: 15px;
  }
  .btn-custom-1 {
    background-color: #CC0828;
    color: white;
    border: none;
  }
  .btn-custom-2 {
    background-color: #117A9C;
    color: white;
    border: none;
  }
}

.damage-question-button {
  .btn {
    margin-top: 3px;
  }
  .btn-custom-3 {
    background-color: #36AF5D;
    color: white;
    border: none;

  }
}

.description-damage-edit {
  label {
    font-size: 20px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }
}

.photo-edit {
  h5 {
    font-size: 20px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }
}

.damage-picture-final-validation {
  margin-bottom: 5px;
  img {
    width: 100%;
  }
}

.add-picture-wrapper {
  .container-caroussel {
    img {
      width: 100%;
    }
  }
}

.damage-edit-button {
  margin-left: -10px;
  margin-right: 10px;
}

