.moy-box {
  display: flex;
  justify-content: center;
}

.votre-annonce {
  display: flex;
  justify-content: center;
}

#carouselExampleIndicators {
  display: flex;
  justify-content: center;
}

.final-validation-caroussel {
  height: 300px;
}

.carousel-inner {
  height: 300px;
}
