.edit-container {
  h5 {
    font-size: 20px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }
  h3 {
    padding-left: 15px;
  }
}

.description-edit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 50px);
  padding: 15px;
  .progress {
    margin-bottom: 40px;
  }
  .btn-hover {
    margin-left: 0px;
  }
  .label {
  margin-bottom: 20px;
  }
}

.description-edit-2-1 {
  margin-bottom: 45px;
}

.form1, .form2, .form3 {
  .form-control {
  border: 0;
  background: none;
  border-bottom: 1px solid #14C98E;
  margin-bottom: 20px;
  height: 40px;
  box-shadow:none;
  }
}

.form4 {
  #camera {
  height: calc(80% - 170px);
  position: fixed;
  width: calc(100% - 30px);
  }
}

.form5 {
  .form-control {
  border: 0;
  background: none;
  border-bottom: 1px solid #14C98E;
  margin-bottom: 10px;
  box-shadow:none;
  height: 38px;
  }
}

.form5-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  height: calc(100vh - 105px);
  #camera--output {
    position: relative !important;
  }
  .btn-hover {
    margin: 0px !important;
  }
}

.form6 {
  padding: 15px;
  #camera1 {
  height: calc(80% - 170px);
  position: fixed;
  width: calc(100% - 30px);
  }
}


.form6-1 {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // height: calc(100vh - 500px);
}

.form6-2 {
  #camera--trigger-2 {
  margin-left: -4px !important;
  bottom: 60px !important;
  }
}

.form7-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  height: calc(100vh - 50px);
}

.form7-1-2 {
  margin-bottom: 46px;
  margin-left: -15px;
  margin-right: 5px;
}

.edit-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  height: calc(100vh - 50px);
  .btn-hover {
    margin-left: 0px;
  }
}

.edit-address-2 {
  margin-bottom: 45px;
}

.edit-kilometers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  height: calc(100vh - 50px);
  .btn-hover {
    margin-left: 0px;
  }
}

.edit-kilometers-2 {
  margin-bottom: 45px;
}

.edit-pictures {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  height: calc(100vh - 50px);
  .btn-hover {
    margin-left: 0px;
    z-index: 1;
  }
}

.edit-pictures-2 {
  margin-bottom: 120px;
  width: 345px;
}

.photo_1_cache {
  background-color: red;
}

.edit-technical-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  height: calc(100vh - 80px);
  .btn-hover {
    margin-left: 0px;
  }
}

.edit-technical-control-2 {
  margin-bottom: 17px;
}
