.fake-loader{
  padding:30px;
  text-align:center

}

.first-estimation-body {
  padding: 15px;
}

.first-estimation-text {
  p {
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.66);
  }
  h5 {
    font-size: 20px !important;
  }
  text-align: center;
  margin-top: 15px;
  .black-matter {
    color: black !important;
  }
  margin-bottom: 10px;
}

.info-row {
  p {
    font-size: 15px !important;
    color: rgba(0, 0, 0, 0.66);
    margin: -6px 0 12.5px !important;
  }
  .black-matter {
    color: black !important;
  }
}

.info-row-2 {
  p {
    font-size: 15px !important;
    color: rgba(0, 0, 0, 0.66);
    margin: -6px 0 12.5px !important;
  }
  .black-matter {
    color: black !important;
  }
  margin-top: 0px;
}

.karl-estimation-price-1 {
  padding: 10px;
  text-align: center;
}

.first-estimation-price-2 {
  text-align: center;
}

.seller-estimation-price-1 {
  padding: 10px;
  text-align: center;
}

.seller-estimation-price-2 {
  text-align: center;
}

#myChart {
  margin-bottom: -40px;
}

.chartjs-render-monitor {
  height: 290px !important;
}

.first-estimation-button {
  .btn-hover {
    margin-left: 0px;
  }
}

