
.first-estimation-body {
  padding: 15px;
}

#myChart {
  width: 400px;
  height: 400px;
}

.chartjs-render-monitor {
  height: 300px !important;
}

.first-estimation-button {
  .btn-hover {
    margin-left: 0px;
  }
}

