.fake-loader{
  padding:30px;
  text-align:center

}

.first-estimation-body {
  padding: 15px;
  height: calc(100vh - 140px);
}

.first-estimation-text {
  p {
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.66);
  }
  h5 {
    font-size: 20px !important;
  }
  text-align: center;
  margin-top: 10px;

.black-matter {
  color: black !important;
  }
  margin-bottom: 10px;
}

.info-row {
  p {
    font-size: 15px !important;
    color: rgba(0, 0, 0, 0.66);
    margin: -6px 0 12.5px !important;
  }
  .black-matter {
    color: black !important;
  }
}

.info-row-2 {
  p {
    font-size: 15px !important;
    color: rgba(0, 0, 0, 0.66);
    margin: -6px 0 -2.5px !important;
  }
.black-matter {
    color: black !important;
  }
  margin-top: 0px;
}

.karl-estimation-price-1 {
  padding: 10px;
  text-align: center;
}

.first-estimation-price-2 {
  text-align: center;
}

.seller-estimation-price-1 {
  padding: 10px;
  text-align: center;
}

.seller-estimation-price-2 {
  text-align: center;
}

#myChart {
  margin-bottom: -35px;
}

.container {
  position: relative;
}

.saved-price {
  position: absolute;
  left: 67px;
  top: 59%;
  width: 100px;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bolder;
}

.chartjs-render-monitor {
  height: 238px !important;
}

.first-estimation-button {
  .btn-hover {
    margin-left: 0px;
  }
}


