.start-title {
  text-align: center;
  margin-top: 50px;
}

.start-button-box{
  margin-top: 85px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-car{
  margin-top: 85px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa-car-side{

}
