<div class="carousel">
  <input type="radio" id="carousel-4" name="carousel[]" checked>
  <input type="radio" id="carousel-5" name="carousel[]">
  <input type="radio" id="carousel-6" name="carousel[]">
  <ul class="carousel__items">
    <li class="carousel__item"><img src="<%= damage.picture_1%>" alt=""></li>
    <li class="carousel__item"><img src="<%= damage.picture_2%>" alt=""></li>
    <li class="carousel__item"><img src="<%= damage.picture_3%>" alt=""></li>
  </ul>
  <div class="carousel__prev">
    <label for="carousel-4"></label>
    <label for="carousel-5"></label>
    <label for="carousel-6"></label>
  </div>
  <div class="carousel__next">
    <label for="carousel-4"></label>
    <label for="carousel-5"></label>
    <label for="carousel-6"></label>
  </div>
  <div class="carousel__nav">
    <label for="carousel-4"></label>
    <label for="carousel-5"></label>
    <label for="carousel-6"></label>
  </div>
</div>
