<h1>Marre de vous faire avoir?</h1>
<p>Estimez le vrai prix de votre voiture</p>

<%= simple_form_for @car do |f| %>
  <%= f.input :registration_number, as: :string %>
  <%= f.input :estimated_kilometers, as: :range %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

