.damages-type {
  display: flex;
  justify-content: center;
  li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    cursor: pointer;
    width: 150px;
    height: 150px;
  }
  li:last-child {
    margin-left: 20px;
  }
  li i {
    font-size: 40px;
  }
}

.fa-car-crash, .fa-wrench {
  color: #2dc2c0;
}

.damages-nature{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 5px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
}
