#camera, #camera--view, #camera--sensor, #camera--output, #camera1, #camera--view-1, #camera--sensor-1, #camera--output-1{
    position: fixed;
    width:100%
}
// #camera--view, #camera--sensor, #camera--output{
//     transform: scaleX(-1);
//     filter: FlipH;
// }
#camera--trigger-1{
    width: 93%;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 17px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    // bottom: 89px;
    // left: calc(50% - 100px);
    z-index: 1;
    margin-left: -2px;
}

#camera--trigger-2{
    width: 94%;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 17px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    bottom: 90px;
    // left: calc(50% - 100px);
    z-index: 1;
}

.taken{
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    z-index: -1;
}

#camera--view, #camera--view-1 {
  position: relative;
}

.picture-content {
  // position: fixed;
  position: absolute;
  height: 100%;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  text-align:center;
}
