.info-card-large {
  box-shadow: 0 1px 5px;
  transition: all 0.3s ease;
  border-radius: 20px;
  height: 200px;
  padding: 0px 30px;
  justify-content: space-around;
  text-align: center;
  font-size: 14px;
  background-image: linear-gradient(to left bottom, #1306a1, #005ad9, #0087d6, #00aeaf, #16cf86);
  color: white;
}


.info-card-small {

}
