.info-card-large {
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  transition: all 0.3s ease;
  height: 200px;
  padding: 0px 30px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background-image: linear-gradient(to left bottom, #1306a1, #005ad9, #0087d6, #00aeaf, #16cf86);
  color: white;
}


.info-card-small {
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  transition: all 0.3s ease;
  height: 100%;
  padding: 10px 30px;
  margin-top: 5px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  vertical-align: middle;
}

.price-card {
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  transition: all 0.3s ease;
  width: 100vh;
  height: 170px;
  font-size: 14px;
  background-color: white;

  &:first-child {
    margin-right: 8px;
  }

  &:last-child {
    margin-left: 8px;
  }
}

.price-card-content {
  padding: 20px;
  text-align:center;
}

.price-card-inner-content {
  text-align:center;
  justify-content: center;
  color: #C1C1BF;
  padding:10px;
}

.price-card-titles {
  text-align:center;
  margin-bottom:0px;
}

.card-price-status {
  text-align:center;
  margin-bottom: 10px;
  font-size:14px;
}
