.main-container{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  weight: 100vh;
  background-color: white;
}

.body-row {
  padding: 30px 30px;
  margin-bottom: 100px;
}

.main-title {
  color: rgb(27, 27, 27);
  margin-top: 100px;
}

#comment-title {
  color: rgb(27, 27, 27);
  margin-bottom: 100px;
}
