.container{
  // padding-left: 0px !important;
  // padding-right: 0px !important;
}

.body-row {
  padding: 30px 30px;
  margin-top: -30px;
  margin-bottom: 100px;
}

.main-title {
  // color: rgb(27, 27, 27);
  color: white;
  // margin-top: 100px;
  margin-top: 30px;
}

#comment-title {
  color: rgb(27, 27, 27);
  margin-bottom: 40px;

  // color: white;
}
