<div class="start-page-body container">

  <div class="body-high-part">
    <div class="progress-box">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100" style="width:9.1%">
        </div>
      </div>
    </div>

    <div class="start-title">
      <h13>Pour commencer, <br/>rendez-vous près de votre voiture !</h13>
      <p style="padding:20px"><strong>Karl</strong> a besoin de votre kilometrage exact, <br/>et de quelques photos</p>
    </div>

    <div class="car-image">
      <img src="https://cdn.dribbble.com/users/1249/screenshots/796577/hatchbck_loading.png" alt="">
    </div>
  </div>

  <div class="body-low-part">
    <div class="start-button-box">
      <div class="start-button-box-1">
        <%= link_to edit_car_path(@car) do %>
          <button class="btn-hover color-5">Vous êtes prêt !</button>
        <%end%>
      </div>
    </div>
  </div>
</div>


