<div class="main-container">

  <div class="start-title">
    <h1>Rendez-vous près de votre voiture</h1>
  </div>

  <div class="start-button">
    <%= link_to edit_car_path(@car) do %>
      <button class="btn btn-submit">Start</button>
    <%end%>
  </div>

</div>
